@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.portrait {
  width: 100%;
  display: block;
}

.logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

h1 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-left: 0.75em;
}

h2 {
  margin-top: 2rem;
  margin-left: 0.75em;
}

.my-work img{
  width: 100%;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  padding-bottom: 2em;
  margin-left: 0.75em;
}

.icons-1 img {
  width: 45%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.icons img {
  width: 45%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}


@media only screen and (min-width: 46.875em) { /* 750 */
  .portrait {
    float: left;
    width: 50%;
  }

.header {
  float: right;
  width: 50%;
  padding-top: 7rem;
}

.logo {
  width: 25%;
  margin: 0 auto;
}

h2 {
  clear: both;
}

.my-work{
  width: 43%;
  float: left;
  margin-left: 1.5em;
}

.icons img {
  width: 12.5%;
}

a .icons {
  float: left;
  width: 12.5%;
}

.icons-1 img {
  width: 12.5%;
  margin-left: 10em;
}

a .icons-1 {
  float: left;
  width: 12.5%;
}
}

@media only screen and (min-width: 65.625em) { /* 1050 */
  .portrait {
    float: left;
    width: 41%;
  }

  .header {
    float: right;
    width: 50%;
    padding-top: 7rem;
    margin-right: 2.5rem;
  }

  .my-work{
    width: 22%;
    float: left;
    margin-left: 1.5em;
  }
}
